
<div class='a'>
<img  id='cake1' src="https://images.pexels.com/photos/934728/pexels-photo-934728.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">

<form action='/cakes' method='get'>
    <input name='b1' type='button' value='Buy'>
</form>
</div>


<div class='b'>
<img id='a2' src="https://images.pexels.com/photos/140831/pexels-photo-140831.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">

<form action='/cakes' method='get'>
    <input name='b1' type='button' value='Buy'>
</form>
</div>

<div class='c'>
<img id='a3' src="https://images.pexels.com/photos/1070896/pexels-photo-1070896.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">
<form action='/cakes' method='get'>
    <input name='b1' type='button' value='Buy'>
</form>
</div>
<div class="grid-container2">
  <div class="grid-item">Our Story</div>
  <div class="grid-item">Contact  us</div>
  <div class="grid-item">Order</div>  
   
</div>
