<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="main.css">
</head>
<body>
  
<h1><a href='/'>Baked by NOOR</a> </h1>
<%= yield%>
<div class="grid-container">
  <div class="grid-item">Our Story</div>
  <div class="grid-item">Contact  us</div>
  <div class="grid-item">Order</div>  
   
</div>
</body>
</html>