ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: block;
  }
  .grid-container {
    display: grid;
    grid-gap: 5px 10px;
    grid-template-columns: auto auto auto;
    background-color: rgb(142, 111, 160);
    padding: 2px;
    margin-left:20px;
    margin-top: 800px;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 9px;
    font-size: 20px;
    text-align: center;
  }
  body {
      background-image: url('/image/bp.jpg');
  }